
@use './../../constants/_vars' as *


.cart
  width: 20em
  &Titles
    @extend %flexbox-centralized
    justify-content: space-between
    margin-bottom: 1.2em
    > h1
      font-size: 1.5em
      font-weight: 500
  &Item
    @extend %flexbox-centralized
    justify-content: space-between
    margin: 2em 0
    &Left
      &Restaurant
        margin-bottom: 0.6em
        span
          color: $secondary-color
      &Price
        color: #808080
    &Right
      @extend %flexbox-centralized
      gap: 1em
      > *
        font-size: 1.3em
      > button
        border-radius: 30px
        border: none
        background: none
  &Subtotal
    @extend %flexbox-centralized
    justify-content: space-between
    h1
      font-size: 1.5em
      font-weight: 500
    p
      font-size: 0.875em
      color: #808080
  &Checkout
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)
    background: $secondary-color
    height: 4em
    width: 100%
    border-radius: 8px
    border: none
    position: relative
    margin-top: 1em
    transition: all 0.3s
    > h1
      color: white
      font-weight: normal
    &:hover
      transform: scale(0.96)
