.pageRestaurants {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: clamp(300px, 85%, 1300px);
  margin: 0 auto;
}

.pageTitle {
  font-size: 2rem;
}
.pageRestaurants {
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1.8em;
  margin-bottom: 4em;
  margin-top: 1em;
}

@media (max-width: 800px) {
  .pageRestaurants {
    justify-content: space-evenly;
  }
}

