* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  color: #202020;
  text-decoration: none;
}

li {
  list-style-type: none;
}


@media(max-width: 1200px){
  *{
    font-size: 12px;
  }
}
    